.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  // background: rgba(47, 48, 58, 0.4);
  background-color: $color-bg-promo-footer;
  background-image: url(../images/mobil/Header-img-mobil.jpg);
  @include retina {
    // background: rgba(47, 48, 58, 0.4);
    background-color: $color-bg-promo-footer;
    background-image: url(../images/mobil/Header-img-mobil-2x.jpg);
  }

  @include mobile {
    height: 400px;
    width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include tablet {
    width: 768px;

    // background: rgba(47, 48, 58, 0.4);
    background-color: $color-bg-promo-footer;
    background-image: url(../images/tablet/Header-img-tablet.jpg);
    @include retina {
      // background: rgba(47, 48, 58, 0.4);
      background-color: $color-bg-promo-footer;
      background-image: url(../images/tablet/Header-img-tablet-2x.jpg);
    }
  }

  @include desktop {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    // background: rgba(47, 48, 58, 0.4);
    background-color: $color-bg-promo-footer;
    background-image: url(../images/promo-bg.jpg);
    @include retina {
      // background: rgba(47, 48, 58, 0.4);
      background-color: $color-bg-promo-footer;
      background-image: url(../images/promo-bg-2x.jpg);
    }
  }
}

.promo__box {
  display: block;
  text-align: center;
  justify-content: center;
}

.promo__title {
  margin-bottom: 30px;

  text-align: center;
  margin-right: auto;
  margin-left: auto;

  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-text-promo;

  @include mobile {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }

  @include desktop {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
