// .promo__button {
//   min-width: 216px;
//   height: 50px;
//   border-radius: 4px;

//   font-family: "Roboto";
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;

//   background-color: $accent-color;
//   color: $color-text-promo;
//   border-color: transparent;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     background-color: $buttom-secondary-color;
//     color: $color-text-promo;
//   }
// }

// .footer-button__btn {
//   font-family: "Roboto";
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   padding: 10px 28px;
//   gap: 10px;
//   margin-left: 12px;
//   width: 200px;
//   height: 50px;

//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;

//   color: #ffffff;
//   background: $accent-color;

//   border-radius: 4px;
//   border-color: transparent;
//   cursor: pointer;

//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $buttom-secondary-color;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
