// .contacts-header {
//   display: flex;
//   margin-left: auto;
//   gap: 30px;
// }

// .contacts-header__link {
//   display: block;
//   display: flex;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   align-items: center;
//   justify-content: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: $primary-color-text;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accent-color;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .contacts-header__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }

// .contact-footer__box {
//   margin-bottom: 9px;
// }

// .contact-footer__adress {
//   text-decoration: none;
//   font-style: normal;
//   line-height: 1.71;
//   color: $footer-primary-text-color;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $color-bg-promo-footer;
//     color: $accent-color;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .contact-footer__link {
//   margin-bottom: 9px;

//   line-height: 1.71;
//   color: $color-link-contacts;
//   font-style: normal;
//   text-decoration: none;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $color-bg-promo-footer;
//     color: $accent-color;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
