// .logo__link {
//   font-family: "Raleway", sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   text-decoration: none;

//   color: $color-logo-primary;
// }

// .logo__item {
//   color: $accent-color;
// }

// .logo__header {
//   display: flex;
//   align-items: center;
//   padding-top: 24px;
//   padding-bottom: 25px;
//   margin-right: 93px;
// }

// .logo__footer {
//   display: inline-block;
//   text-decoration: none;
//   color: $footer-primary-text-color;
//   margin-right: 0px;
//   margin-bottom: 20px;
// }

.logo__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: $color-logo-primary;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }

  // @media screen and (min-width: 1200px) {
  // font-size: 26px;
  // line-height: 1.19;
  // }
}

.logo__item {
  color: $accent-color;
}

.logo__header {
  @media screen and (max-width: 480px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 87px;
    padding: 26px 0;
  }

  //   @media screen and (min-width:1200px) {
  //       display: flex;
  //   align-items: center;
  //   padding-top: 24px;
  //   padding-bottom: 25px;
  //   margin-right: 93px;
  //   }
}

.logo__footer {
  color: $footer-primary-text-color;
  text-decoration: none;
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    display: block;
    text-align: center;
  }

  // @media screen and (min-width:1200px) {
  // display: inline-block;
  //   margin-right: 0px;
  // }
}
