.page-header {
  border-bottom: 1px solid #ececec;

  // position: relative;
}

// .page-header__box {
//   display: flex;

// }

.page-header__nav {
  display: flex;

  @include tablet {
    margin-left: 87px;
  }

  @include desktop {
    margin-left: 92px;
  }
}

.page-header__box {
  display: flex;
  align-items: center;

  @include tablet {
    display: flex;
  }
}
