.page-header {
  border-bottom: 1px solid #ececec;

  position: relative;
}

// .page-header__box {
//   display: flex;

// }

// .page-header__nav {
//   display: flex;

// }

.page-header__box {
  display: flex;
  align-items: center;

  @include tablet {
    display: flex;
  }
}
