// .site-menu {
//   display: flex;

//   margin-top: 0;
//   margin-bottom: 0;
// }

// .site-menu--current {
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $accent-color;
//   }
// }

// .site-menu__link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   text-decoration: none;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: $color-nav;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accent-color;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .site-menu__item {
//   margin-right: 50px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .site-menu--current {
//   color: $accent-color;
// }

.site-menu {
  @media screen and (min-width: $mobile) {
    width: $mobile;
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.site-menu--current {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.site-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $color-nav;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-menu__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-menu--current {
  color: $accent-color;
}
