body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $primary-color-bacground;
  color: $primary-color-text;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0 0;
}

ul {
  margin: 0 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* удалення крапочок напроти пунктів списку */
ul {
  list-style: none;
}
