$accent-color: #2196f3;
$primary-color-title: #212121;
$color-nav: #212121;
$color-bg-promo-footer: #2f303a;
$primary-color-text: #757575;
$primary-color-bacground: #ffffff;
$color-logo-primary: #000000;
$color-bg-hero: #f5f4fa;
$color-text-promo: #ffffff;
$color-link-contacts: rgba(255, 255, 255, 0.6);
$primary-color-socials-clients: #afb1b8;
$socials-secondary-color: #ffffff;
$footer-primary-text-color: #ffffff;
$buttom-secondary-color: #188ce8;
$secondary-color-socials: #ffffff;
